:root {
    box-sizing: border-box;
    font-size: 100%;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Palette Mosaic', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(45, 100%, 50%);
}

h1 {
    margin-bottom: 0.5em;
    color: hsl(45, 100%, 33%);
}

input {
    font-family: 'Palette Mosaic', cursive;
    font-size: 1em; 
    color: hsl(240, 11%, 17%);
}

input::placeholder {
    font-family: 'Palette Mosaic', cursive;
    font-size: 1em; 
    color: hsl(240, 11%, 17%);
}

.wrapper {
    max-width: 70em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    /* border: 1px solid red; */
    border-radius: .6em;
    background-color: hsl(34, 100%, 50%);
    padding: 0.5em;
    display: inline-block;
}

.calculator-data {
    display: flex;
    margin-bottom: 1em;
    
}

.calculator-data__column {
    border: 0;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}

.calculator-data__column + .calculator-data__column {
    margin-left: 1em;
}

.calculator-data__column-input {
    width: 100%;
    max-width: 25em;
    background-color: hsl(55, 100%, 63%);
    border: 0;
    border-radius: .5em;
    padding: .7em;
}

.calculator-data__column-input + .calculator-data__column-input {
    margin-top: 0.7em;
}

.calculator-data-title,
.calculator-data__output-display__title, 
.calculator-range__block-title,
label,
.range-percents,
.precents-sign {
    margin-bottom: .5em;
    font-size: 1.2em;
    color: hsl(240, 11%, 17%);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.calculator-data__output-display {
    display: flex;
    flex-direction: column;
}


.calculator-data__output-display__title,  
.calculator-data__output-display {
    margin-bottom: 0.5em;
}

.output-result,
.calculator-range__total-item input {
    border: 0;
    background-color: transparent;
    font-size: 2em;
}

@media (max-width: 48em) {
    .calculator-data {
        flex-direction: column;
        
    }

    .calculator-data__column + .calculator-data__column {
        margin-left: 0;
    }

    .calculator-data__column + .calculator-data__column {
        margin-top: 1em;
    }
}